{{ form_start(form, {attr: {id: 'modal-form'}}) }}
    <div class="mb-3">
        {{ form_row(form.nome) }}
    </div>
    <div class="d-flex justify-content-end gap-2">
        <button type="button" class="p-btn p-btn-secondary" data-bs-dismiss="modal"><i class="pi pi-times"></i> Cancelar</button>
        <button type="submit" class="p-btn p-btn-primary"><i class="pi pi-check"></i> Salvar</button>
    </div>
{{ form_end(form) }}
